/* user defined styles for landing page*/
/* http://colorhunt.co/c/2829 

@-webkit-keyframes colorchange {
	0%{background-position: 94% 0%;}
	50%{background-position:7% 100%}
	100%{background-position:94% 0%;}
}

@keyframes colorchange {
	0%{background-position: 94% 0%;}
	50%{background-position:7% 100%}
	100%{background-position:94% 0%;}
}

body {
	background: -webkit-linear-gradient(45deg, #EB2A5D, #FFB44B, #EB2A5D);
	background: linear-gradient(45deg, #EB2A5D, #FFB44B, #EB2A5D);
	background-size: 400% 400%;
	-webkit-animation: colorchange 15s ease infinite;
	animation: colorchange 15s ease infinite;
}
*/

body {
	background: #EB2A5D;
}

h1, h2 {
	color: #FFB44B;
}

h5, label, li {
	color: white;
}

ul, li {
	list-style-type: square !important;
}

ul {
	padding-left: 5em;
}

a {
	color: #FFEB7D;
}

[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #FF6F41;
	background-color: #FF6F41;

}